<!-- Load Static -->
{% load static %}

<!--including head of page (head, related libraries, ..)-->
{% include 'sections/headpage.html' %}

<!--including Navbar of page (top-bar, nav-bar, under nav-bar)-->
{% include 'sections/navbar.html' %}

<!--including Carousel of page (interface landscape)-->
{% include 'sections/carousel.html' %}

<!--including Content of page (About, Services, Features, Projects , Testimonial , Blog content)-->
{% include 'sections/content.html' %}

<!--including Footer of page (footer & JS libraries)-->
{% include 'sections/footer.html' %}